.cardPerson {
    position: relative;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-top: 2em;
    width: 340px;
    height: 60vh;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background: #FFF;
    z-index: 0;
    transition: all 0.3s ease-in-out;
}
.cardPerson:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border: 2px solid #FF9E00;

}

.cardPerson img{
    width: 80px;
    margin-left: 2em;
    margin-top: 1em;
}

.cardPerson .price{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background: #000;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}
.cardPerson .name{
    margin-left: 1em;
    margin-top: 1em;
}
.bttn{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 5px;
    width: 40%;
    left: 1em;
    padding: 10px 0;
    border: none;
    border-radius: 2px;
    background: #7C01FA;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cardPerson .bttn:hover{
    transform: scale(1.02);
    background: #5F00C2;
    z-index: 1;
}

.bttn2{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 5px;
    width: 40%;
    padding: 10px 0;
    border: none;
    border-radius: 2px;
    background: #7C01FA;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.cardPerson .bttn2:hover{
    transform: scale(1.02);
    background: #5F00C2;
    z-index: 1;
}

.cardPerson .skills{
    margin-left: 1.5em;
}

.cardPerson li{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1em;
    list-style: none;
}

.cardPerson:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}

.cardPerson:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}