.home_box {
    margin-top: 2em;
    margin-left: -8em;
    width: 540px;
    height: 450px;
    flex-shrink: 0;
    border: 3px solid #FFAA38;
}

.home_boxright {
    position: relative;
    height: 450px;
    width: 0;
    bottom: 20em;
}

.home_box2 {
    position: absolute;
    top: 65em;
    margin-left: -5.5em;
    width: 820px;
    height: 0px;
    flex-shrink: 0;
}

.home_text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    margin-top: 1em;
    line-height: normal;
    text-wrap: wrap;
    margin-left: 1em;
}

.home_boxright2 {
    display: flex;
    position: relative;
    top: 7em;
    width: 540px;
    height: 450px;
    flex-shrink: 0;
    border: 3px solid #FFAA38;
}

.home_button {
    background: #FFAA38;
    color: black;
    font-weight: bold;
    margin-top: 14em;
    margin-left: 8em;
}

.home_button:hover {
    background: #3F0B75;
    color: whitesmoke;
}

.home_box_reduced_1 {
    position: relative;
    top: 40em;
    right: 2em;
    width: 269px;
    height: 196px;
    flex-shrink: 0;
    border: 3px solid #FFAA38;
}

.home_box_reduced_2 {
    position: relative;
    top: 10em;
    left: 25em;
    width: 269px;
    height: 196px;
    flex-shrink: 0;
    border: 3px solid #FFAA38;
}

.home_box_reduced_3 {
    position: relative;
    top: 37em;
    left: 25em;
    width: 269px;
    height: 196px;
    flex-shrink: 0;
    border: 3px solid #FFAA38;
}

.home_box_reduced_4 {
    position: relative;
    top: 8em;
    right: 1em;
    width: 269px;
    height: 196px;
    flex-shrink: 0;
    border: 3px solid #FFAA38;
}

.home_image {
    background-image: url('../images/person.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    width: 600px;
    height: 360px;
    position: relative;
}

.home_image2 {
    background-image: url('../images/person.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    width: 600px;
    height: 360px;
    position: relative;
}

.common_questions{
    margin-top: 25em;
}



@media (max-width: 414px) {
    .home_box {
        position: relative;
        left: 8em;
        width: 100%;
        height: 25vh;
        margin-top: 1em;
        border: 3px solid #FFAA38;
    }

    .home_text {
        font-size: 20px;
        text-align: center;
    }

    .home_button {
        margin-top: 1em;
        margin-left: 5em;
    }

    .home_boxright {
        margin-left: 0;
        height: auto;
        width: 100%;
        position: relative;
        bottom: 0;
    }

    .home_box2,
    .home_box_reduced_1,
    .home_box_reduced_2,
    .home_box_reduced_3,
    .home_box_reduced_4 {
        display: none;
    }

    .home_image,
    .home_image2 {
        width: 100%;
        height: auto;
    }

    .home_boxright2 {
        left: 0;
        bottom: 0;
        width: 100%;
    }
}
