.form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 0 auto;
    padding: 25px;
    margin-right: 15%;
    background-color: #fff;
    font-size: 14px;
    position: relative;
    right: 50em;
    bottom: 22em;
}

.form_login input {
    display: flex;
    width: 382px;
    height: 46px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form_login label {
    margin-top: 1em;
    font-size: 15px;
}

.form_login a {
    display: flex;
    flex-direction: row;
}

.form_login button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 382px;
    height: 46px;
    border-radius: 8px;
    background: #744FC6;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1em;
}

.form_login button:hover {
    transition: 0.5s;
    background: #0B5ED7;
    cursor: pointer;
}

.form_login a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.form_login a:hover {
    text-decoration: underline;
    color: #0B5ED7;
}

.form_login .link_right {
    margin-top: 0.1em;
    display: flex;
    position: relative;
    width: 1vw;
    left: 6em;
    text-wrap: nowrap;
    text-decoration: none;
    color: #000;

}

.login_image {
    display: flex;
    position: relative;
    top: 10em;
    left: 30em;
    width: 60%;
}