.editmatch_logo_color {
    color: black; 
  }

  .editmatch_logo_color:hover {
    color: blue; 
  }

  .button {
    margin-left: 1em;
    color: white;
    font-weight: 500;
  }

  .button:hover {
    background-color: #fff;
    color: #240046;

  }