.header{
    background-image: url('../images/background-header.png');
    background-size: cover;
    background-position: center;
    height: 120vh;
    overflow: hidden;
}

.boxImage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxImage img{
    margin-top: 5em;
    width: 130px;
    height: 132px;
}

.logo{
    position: relative;
    right: 15em;
    top: 5em;
}

.text{
    margin-top: 0.5em;
    color: #FFF;
    text-align: center;
    font: 'Montserrat';
    font-size: 42px;
}

.textColor{
color: #3F0B75;
}

.logo p{
    font: 'Montserrat';
    position: relative;
    left: 26em;
}

