.payment button{
    background-color: #FF9E00;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    margin-top: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.payment button:hover{
    background-color: #157347;
    color: #fff;
}